@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: none !important;
  outline-style: none !important;
  outline-width: 0 !important;
  outline-color: transparent !important;
}

@layer base {
  :root {
    --background: #ffffffff;
    --foreground: #020817ff;

    --card: #ffffffff;
    --card-foreground: #020817ff;

    --popover: #ffffffff;
    --popover-foreground: #020817ff;

    --main:#ffba4aff;
    --main-background:#053729ff;

    --primary: #8b0000ff;
    --primary-foreground: #fff8dcff;

    --secondary: #053729ff;
    --secondary-foreground: #f8fafcff;

    --muted: #f1f5f9ff;
    --muted-foreground: #64748bff;

    --accent: #f1f5f9ff;
    --accent-foreground: #0f172aff;

    --destructive: #ef4444ff;
    --destructive-foreground: #f8fafcff;

    --border: #87000029;
    --input: #e2e8f0ff;
    --ring: #02081700;

    --radius: 8px;
  }

  .dark {
    --background: #020817ff;
    --foreground: 210 40% 98%;

    --card: #020817ff;
    --card-foreground: 210 40% 98%;

    --popover: #020817ff;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */

  body {
    @apply bg-background text-foreground;
  }
}

html {
  height: 100%;
}

body {
  height: fit-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background-color: #053729 !important;
}

@media screen and (max-width: 639px) {
  .app_padding {
    padding: 0px 10px;
  }
}
@media screen and (min-width: 640px) {
  .app_padding {
    padding: 0px 20px;
  }
}
@media screen and (min-width: 768px) {
  .app_padding {
    padding: 0px 40px;
  }
}
@media screen and (min-width: 1024px) {
  .app_padding {
    padding: 0px 60px;
  }
}
@media screen and (min-width: 1280px) {
  .app_padding {
    padding: 0px 80px;
  }
}
